<% include header.ejs%>

<script src="js/passport.js">
	
	
</script>
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
				<div class="d-flex justify-content-end social_icon">
						<span><a href="auth/facebook"><i class="fab fa-facebook-square"> </i></a></span>
					<span><a href="auth/google"><i class="fab fa-google-plus-square"></i></a></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/auth/join" method="POST" name="frm">
					<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" class="form-control" placeholder="Email Address">
						</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="nick" class="form-control" placeholder="Full Name">
						
					</div>

					<!-- <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="nickName" class="form-control" placeholder="Full Nick">
							
						</div> -->
					
				
                    
                    <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Create Password">
                        </div>
							<% if(joinError){%>
								<div style="color: red"><%=joinError%></div>
								<%}%>
					<div class="form-group">
						<input type="button" value="Create Account" onclick="doJoin()" class="btn float-right login_btn">
					</div>
					
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
				have an account?<a href="login">LOGIN</a>
				</div>
		
			</div>
		</div>
	</div>
</div>
</body>
</html>
<% include ./footer.ejs%>